<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.project.domain.member.mapper.BadgeMapper">
    <select id="selectById" resultType="com.ssafy.project.domain.member.dto.response.BadgeResponseDto">
        SELECT
            name,
            description,
            image
        FROM badge
        WHERE badge_id = #{badgeId}
    </select>
    
    <select id="selectAllByMemberId" resultType="com.ssafy.project.domain.member.dto.response.BadgeResponseDto">
    	SELECT
    		b.name,
    		b.description,
    		b.image
    	FROM Member_Badge mb, Badge b
    	WHERE mb.member_id = #{memberId}
    			AND mb.badge_id = b.badge_id
    </select>
    
</mapper>
