<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.project.domain.member.mapper.MemberMapper">
    <insert id="insert">
        INSERT INTO member (email, password, name)
        VALUES (#{email}, #{password}, #{name})
    </insert>

    <select id="existsByEmail" resultType="boolean">
        SELECT COUNT(1) > 0
        FROM member
        WHERE email = #{email}
    </select>

    <select id="selectById" resultType="com.ssafy.project.domain.member.entity.Member" parameterType="long">
        SELECT member_id,
               email,
               password,
               role,
               name,
               profile_image,
               used_storage,
               created_at,
               modified_at,
               is_deleted,
               main_badge_id,
               max_stroage
        FROM Member
        WHERE member_id = #{id}
    </select>
    
    <update id="update">
 		UPDATE member
 		SET
 			password = #{requestDto.password},
 			name = #{requestDto.name},
 			profile_image = #{requestDto.profileImage},
 			main_badge_id = #{requestDto.mainBadgeId}
 		WHERE
 			member_id = #{memberId}
 	</update>
 	
 	<update id="delete">
 		UPDATE member
 		SET
 			is_deleted = TRUE
 		WHERE
 			member_id = #{memberId}
 	</update>
 	
</mapper>
