<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.project.domain.gallery.mapper.PhotoMapper">

  <insert id="insertPhotos">
    INSERT INTO photo (
      s3_key, filename, size, content_type,
      sido, sigungu, eupmyeondong,
      latitude, longitude, taken_at,
      is_deleted, created_at
    )
    VALUES
    <foreach collection="photos" item="p" separator=",">
      (
      #{p.s3Key}, #{p.filename}, #{p.size}, #{p.contentType},
      #{p.sido}, #{p.sigungu}, #{p.eupmyeondong},
      #{p.latitude}, #{p.longitude}, #{p.takenAt},
      false, NOW()
      )
    </foreach>
  </insert>

  <insert id="insertPhoto">
    INSERT INTO photo (
      s3_key, filename, size, content_type,
      sido, sigungu, eupmyeondong,
      latitude, longitude, taken_at,
      is_deleted, created_at
    ) 
    VALUES (
      #{s3Key}, #{filename}, #{size}, #{contentType},
      #{sido}, #{sigungu}, #{eupmyeondong},
      #{latitude}, #{longitude}, #{takenAt},
      false, NOW()
    )
  </insert>
 
  <update id="renamePhoto">
    UPDATE photo
    SET s3_key = #{newKey}, filename = #{filename}
    WHERE s3_key = #{oldKey}
  </update>

  <select id="findPhotoDetailByS3Key">
    SELECT s3_key, filename, size, content_type, sido, sigungu, eupmyeondong, latitude, longitude, is_deleted, created_at, taken_at
    FROM photo
    WHERE s3_key = #{key}
  </select>
</mapper>
