<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.project.domain.gallery.mapper.PhotoMapper">

  <insert id="insertPhotos">
    INSERT INTO photo (
      s3_key, original_filename, size, content_type,
      sido, sigungu, eupmyeondong,
      latitude, longitude, taken_at,
      is_deleted, created_at,
      member_id
    )
    VALUES
    <foreach collection="photos" item="p" separator=",">
      (
      #{p.s3Key}, #{p.originalFilename}, #{p.size}, #{p.contentType},
      #{p.sido}, #{p.sigungu}, #{p.eupmyeondong},
      #{p.latitude}, #{p.longitude}, #{p.takenAt},
      false, NOW(),
      #{memberId}
      )
    </foreach>
  </insert>

  <insert id="insertPhoto">
    INSERT INTO photo (
      s3_key, original_filename, size, content_type,
      sido, sigungu, eupmyeondong,
      latitude, longitude, taken_at,
      is_deleted, created_at
    ) 
    VALUES (
      #{s3Key}, #{originalFilename}, #{size}, #{contentType},
      #{sido}, #{sigungu}, #{eupmyeondong},
      #{latitude}, #{longitude}, #{takenAt},
      false, NOW()
    )
  </insert>
 
  <update id="renamePhoto">
    UPDATE photo
    SET s3_key = #{newKey}, original_filename = #{originalFilename}
    WHERE s3_key = #{oldKey}
  </update>

  <select id="findPhotoDetailByPhotoIdAndMemberId">
    SELECT
      s3_key, original_filename, size, content_type,
      sido, sigungu, eupmyeondong,
      latitude, longitude,
      is_deleted, created_at, taken_at
    FROM photo
    WHERE photo_id = #{photoId}
    	AND member_id = #{memberId}
  </select>


  <select id="findDirectoriesByPrefix">
    SELECT
    CONCAT(SUBSTRING_INDEX(TRIM(TRAILING '/' FROM d.dir_name), '/', -1),'/') AS name,
    SUM(p.size) AS size
    FROM (
    SELECT DISTINCT
    CONCAT(
    SUBSTRING_INDEX(s3_key, '/',
    CHAR_LENGTH(#{prefix}) - CHAR_LENGTH(REPLACE(#{prefix}, '/', '')) + 1
    ),
    '/'
    ) AS dir_name
    FROM photo
    WHERE s3_key LIKE CONCAT(#{prefix}, '%')
    AND CHAR_LENGTH(s3_key) - CHAR_LENGTH(REPLACE(s3_key, '/', '')) = (
    CHAR_LENGTH(#{prefix}) - CHAR_LENGTH(REPLACE(#{prefix}, '/', '')) + 1
    )
    ) AS d
    JOIN photo p ON p.s3_key LIKE CONCAT(d.dir_name, '%')
    WHERE p.is_deleted = false
    GROUP BY d.dir_name
  </select>

  <select id="findFilesByPrefix">
    SELECT photo_id, s3_key, original_filename as name, size
    FROM photo
    WHERE s3_key LIKE CONCAT(#{prefix}, '%')
    AND CHAR_LENGTH(s3_key) - CHAR_LENGTH(REPLACE(s3_key, '/', '')) = (
    CHAR_LENGTH(#{prefix}) - CHAR_LENGTH(REPLACE(#{prefix}, '/', ''))
    )
    AND is_deleted=false
  </select>

</mapper>
