<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.project.domain.board.mapper.PostMapper">

    <insert id="insert">
        INSERT INTO post (member_id, title, content)
        VALUES (#{memberId}, #{title}, #{content})
    </insert>

    <delete id="delete">
        DELETE 
        FROM
        	post
        WHERE
            post_id = #{postId} AND member_id = #{memberId}
    </delete>

    <select id="existsLikeByPostIdAndMemberId" resultType="boolean">
        SELECT COUNT(1) > 0
        FROM post_like
        WHERE post_id = #{postId} AND member_id = #{memberId}
    </select>

    <insert id="insertPostLike">
        INSERT INTO post_like (post_id, member_id)
        VALUES (#{postId}, #{memberId})
    </insert>
    
    <delete id="deletePostLike">
        DELETE FROM post_like
        WHERE post_id = #{postId} AND member_id = #{memberId}
    </delete>
    
</mapper>
